footer {
    background: #030a0f;
    color: #9a8a72;
    padding: 36px 72px;
    position: relative;
    width: 100%;
    bottom: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.footerNavigationContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerLinks ul li {
    display: flex;
    justify-content: space-evenly;
}

.footerLinks a {
    color: #9a8a72;
    text-decoration: none;
    margin: 0px 20px;
}

.footerSiteLogo ul li {
    list-style: none;
}

.footerSiteLogo ul li a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

@media screen and (max-width: 769px) {
    footer {
        padding: 0px;
    }

    .footerNavigationContainer {
        flex-direction: column;
        padding: 10px;
    }

    .footerSiteLogo,
    .footerLinks,
    .copyright {
        padding: 7px;
    }

    .footerSiteLogo {
        text-align: center;
    }
}

@media screen and (max-width: 541px) {
    .footerLinks ul li {
        display: grid;
        grid-template-columns: 3fr auto;
        padding: 0.6rem;
    }

    .footerLinks a {
        padding: 0.3rem;
    }
}