@media screen and (max-width: 1025px) {}

@media screen and (max-width: 769px) {
    .popularRoutes,
        .topAircraftTypes {
            padding: 46px 62px;
        }
}

@media screen and (max-width: 541px) {
    .liveFlights {
        display: none;
        /*Ta bort sen*/
    }

    .statContainer {
        grid-template-columns: repeat(2, 1fr);
        border-bottom: 0.5px solid rgba(196, 164, 107, 0.08);
    }

    .statCell:nth-child(-n + 2) {
        border-bottom: 0.5px solid rgba(196, 164, 107, 0.08);
    }

    .popularityStats {
        grid-template-columns: 1fr;
    }

    .popularRoutes {
        border-bottom: 0.5px solid rgba(196, 164, 107, .1);
    }

    .co2Sub br {
        display: none;
    }
}

@media screen and (max-width: 426px) {}